body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 5px;
  text-align: center;
  font-size: 35px;
}

img { max-width: 35%;
	float:left;
	margin: 0 15px 0 0;
	border: 5px solid gray; margin: 1px;
}


p {
	padding: 10px;
    margin: 0 2px 0 0;
}










/* Style the footer */
.footer {
  background-color: gray;
  padding: 10px;
  text-align: center;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other, hopefully */
@media (max-width: 500px) {
  .column {
    width: 100%;
  }
}
