/* noto-serif-oriya-500 - latin */
@font-face {
	font-family: 'Noto Serif Oriya, Arial, Helvetica, sans-serif';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/noto-serif-oriya-v2-latin-500.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/noto-serif-oriya-v2-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/noto-serif-oriya-v2-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/noto-serif-oriya-v2-latin-500.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/noto-serif-oriya-v2-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/noto-serif-oriya-v2-latin-500.svg#NotoSerifOriya') format('svg'); /* Legacy iOS */
  }

/* Style the header */
.header {
  background-color: #335c67;
  padding: 1%;
  text-align: center;
  font-size: 185%;
  
}

h1{
	color: #fff3b0;
}

h2 {
	margin: 1% 1% 1% 37%;
}
/* Style images */
img { max-width: 35%;
	float:left;
	margin-right: 2%;
	margin-bottom: 1%;
}


/* Style p tag */
p {
    margin: 1% 1% 1% 1%;
	font-size: 135%;
}

/* List Styling */
ul {
	margin: 1px 1px 1px 37%;
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	list-style: none;
}
label {
	margin: 1px 1px 1px 26%;
	font-size: 150%;
}

/* Link Styling */
a {
	float:left;
	font-size: 135%;
	font-style: oblique;

}
a:link {
	color: palevioletred;
	background-color: transparent;
	text-decoration: none;
 }
 a:visited {
	color: deepskyblue;
	background-color: transparent;
	text-decoration: none;
 }
 a:active {
	color: brown;
	background-color: transparent;
 }

